html, body{
	font-family: "Lato";
	font-size: 14px;
	background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url(./images/background-img.svg);
	min-height: 100vh;
	min-width: 100vw;
	position: absolute;
    background-repeat: no-repeat;
    background-position: top left;
    margin: auto;
    box-sizing: border-box;
    background-size: cover;
}

header{
	color: #FFFFFF;
	display: flex;
	justify-content: center;
}
main{
	color: #FFFFFF;
    text-align: center;
}
.title-web{
	display: flex;
	align-items: center;
	text-transform: uppercase;
	margin-left: 35px;
	margin-top: 61px;
	cursor: pointer;
}
.title{
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	font-style: normal;
	margin-left: 10px;
}
.menu-list{
	display: flex;
	align-items: center;
	text-transform: uppercase;
	margin-top: 58px;
	margin-left: 133px;
}
.menu{
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	margin-right: 24px;
	cursor: pointer;
}
.last-menu{
	margin-right: 0px;
}
.languages{
	display: flex;
	align-items: center;
	text-transform: uppercase;
	margin-top: 55px;
	margin-left: 86px;
}
.flag-icon{
	width: 32px;
	cursor: pointer;
}
.language{
	margin-left: 12px;
	margin-right: 8px;
	cursor: pointer;
}
.button-login{
	border: 1px solid #FFFFFF;
	border-radius: 6px;
	box-sizing: border-box;
	background-color: transparent;
	outline: none;
	color: #FFFFFF;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 29px;
	padding-right: 29px;
	margin-left: 33px;
	margin-top: 50px;
	cursor: pointer;
}
.arrow-icon{
	cursor: pointer;
}
.main-title{
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	line-height: 86px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-top: 168px;
}
.discription{
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 150%;
	margin-top: 35px;
}
.bottom-button{
	width: 160px;
	height: 50px;
	left: 640px;
	top: 545px;
	background: #FFFFFF;
	border-radius: 6px;
	border: none;
	color: #D52047;
	cursor: pointer;
	margin-top: 38px;
}